html{
	margin: 0;	
	padding: 0;	
	height: 100%;
}
body {
	margin: 0;	
	padding: 0;
	background-color: #F2F6FE;
	font-family: Verdana;
	padding-bottom: 1em;
	height: 83%;
}

menu {
	margin: 0;
	background: #C4F0EF;
}
menu ul {
	margin: 0;
	padding: 0;
}
menu li {
	margin: 1em;
	list-style: none;
	display: inline-flex;	
	
}
menu a {
	text-decoration: none;
	font-size: 1rem;
	font-style: Helvetica, sans-serif;
	font-weight: bold;
	color: #4B4D4F;
	text-shadow: 2px 1px 0px #C6D5DD;
	line-height: 100%;
	padding: 1em 2em;
	border: 2px solid #85B3D6;
	border-radius: 1em;
	background: linear-gradient(to right, #B8E4E2, #FFFFFF);
}
menu a:hover {
	color: #FF0054;
}
menu .mobile-button a {
	display: none;
	background: #C4F0EF;
	color: #fff;
	border-radius: 3px;
	padding: 0em;
}

main {
	min-height: 100%;
	padding-bottom: 2em;
	display: flex;
	margin: 1em;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-around;
}

.conteiner_first{
	border: 1px solid #4C68A5;
	background: linear-gradient(to top, #FDFDF1, #FDE9FA);
	max-width: 100%;
	padding-left: -50px; 
	flex: 1;
	margin: 10px;
}

.conteiner_second{
	border: 1px solid #4C68A5;
	background: linear-gradient(to top, #FDFDF1, #FDE9FA);
	flex: 1;
	margin: 10px;
}

.conteiner_third{
	border: 1px solid #4C68A5;
	background: linear-gradient(to top, #FDFDF1, #FDE9FA);
	flex: 1;
	margin: 10px;
}

.main_conteiner div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-between;
}

.main_conteiner div header{
	font-size: x-large;
	border-bottom: 1px solid #4C68A5;
	padding: 1em;
	background: linear-gradient(to top, #FDE9FA, #D1DDFD);
}

div.text {
	margin: 1em;
}

main button{
	align-self: flex-end;
	font-size: large;
	padding: 0.5em;
	margin: 1em;
	cursor: pointer;
}

.main_conteiner div div img{
	padding: 0.5em;
}

footer {
	width: 100%;
	margin-top: -2em;
	height: 2em;
	padding-top: 1em; 
	text-align: center;
	align-content: center;
	background: #FFEFD0;
	font-size: large;
	color: #FF7800
}

@media screen and (max-width: 1600px) {
	.main_conteiner{
		display: flex;
		flex-flow: row wrap;
	}
	.conteiner_first{
		flex: 1 1;
		flex-basis: 30%;
		height: auto;
	}
	.conteiner_second{
		flex: 1 1;
		flex-basis: 30%;
	}
	.conteiner_third {
		flex: 2 1;
		flex-basis: 60%;
	}
	footer {
		position: absolute;
	}
}

@media screen and (max-width: 800px) {
	.main_conteiner{
		display: flex;
		flex-flow: row wrap;
	}
	menu {
		position: relative;
		padding-left: 0;
	}	

	menu ul {
		width: 100%;
		border: solid 1px #aaa;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	menu li {
		display: flex; /* скрыть все <li> пункты */
		margin: 0em;
	}
	
	menu a {
		width: 100%;
		/*padding: 1em 1em 0.5em 1em;*/
		border-bottom: 1px black;
		font-size: 1em;
		border-radius: 0;
		background: none;
	}
	menu .mobile-button a {
		display: flex;
	}

	.conteiner_first{
		flex: 3 1;
		flex-basis: 500px;
		height: auto;
	}
	.conteiner_second{
		flex: 3 1;
		flex-basis: 500px;
	}
	.conteiner_third {
		flex: 3 1;
		flex-basis: 500px;
	}
}